<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Price" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <connectionStrings>
    <!--<add name="SFA_ConnectionString" connectionString="Data Source=DIMMASYP_DEV.CSID.LOCAL;User ID=sfa;Password=sfa" providerName="Oracle.DataAccess.Client" />
    <add name="BRDS_PROD_ConnectionString" connectionString="Data Source=DIMMASYP_DEV.CSID.LOCAL;User ID=BRDS_PROD;Password=BRDS_PROD" providerName="Oracle.DataAccess.Client" />
    <add name="YBRDS_PROD_ConnectionString" connectionString="Data Source=DIMMASYP_DEV.CSID.LOCAL;User ID=YBRDS_PROD;Password=YBRDS_PROD" providerName="Oracle.DataAccess.Client" />
    <add name="GESTION_ConnectionString" connectionString="Data Source=win-sl2bh9u8760.csid.local; Database=gestion; User ID=dbogestion;Password=Dbo#2012*$" providerName="System.Data.SqlClient" />-->
    <add name="SFA_ConnectionString" connectionString="Data Source=(DESCRIPTION=(SDU=8192)(ADDRESS=(PROTOCOL=TCP)(HOST=01DR4ORACLEDB.CSID.LOCAL)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DIMMASYP.01DR4ORACLEDB.CSID.LOCAL)));User ID=sfa;Password=sfa" providerName="Oracle.DataAccess.Client" />
    <add name="BRDS_PROD_ConnectionString" connectionString="Data Source=(DESCRIPTION=(SDU=8192)(ADDRESS=(PROTOCOL=TCP)(HOST=01DR4ORACLEDB.CSID.LOCAL)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DIMMASYP.01DR4ORACLEDB.CSID.LOCAL)));User ID=BRDS_PROD;Password=BRDS_PROD" providerName="Oracle.DataAccess.Client" />
    <add name="YBRDS_PROD_ConnectionString" connectionString="Data Source=(DESCRIPTION=(SDU=8192)(ADDRESS=(PROTOCOL=TCP)(HOST=01DR4ORACLEDB.CSID.LOCAL)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DIMMASYP.01DR4ORACLEDB.CSID.LOCAL)));User ID=YBRDS_PROD;Password=YBRDS_PROD" providerName="Oracle.DataAccess.Client" />
    <add name="GESTION_ConnectionString" connectionString="Data Source=win-sl2bh9u8760.csid.local; Database=gestion; User ID=dbogestion;Password=Dbo#2012*$" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
